* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 20px;
    font-family: "Manrope", sans-serif;
}

.main {
    background-color: #F7F7F7;
    border-radius: 30px;
    padding: 15px;
    display: flex;
    width: 100%;
    gap: 30px;
    padding-right: 50px;
}

/* Side BAr Section STyling */
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#FFF, #fff, #4255ff34);
    border-top-left-radius: 20px;
    padding: 30px;
    border-bottom-left-radius: 20px;
}

.sidebar .icon {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.sidebar .icon img {
    margin-top: 20px;
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 20px;
    transition: .4s;
    cursor: pointer;
}

.sidebar .icon .icon-img-bg-add {
    background-color: #A0E79F;
}

.sidebar .icon img:hover {
    background-color: #A0E79F;
}

/* Dashboard Section STyling */

.dashboard {
    width: 100%;
}

.top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 30px;
}

input {
    width: 400px;
    height: 45px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

::placeholder {
    font-size: 14px;
}

.person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.person .person-image img {
    width: 50px;
    border-radius: 50px;
}

.person .person-detail h3 {
    font-size: 18px;
    margin-bottom: 2px;
}

.person .person-detail span {
    font-size: 13px;
    color: #8E8E8E;
}

.person .person-detail span img {
    vertical-align: middle;
    margin-right: 9px;
}

.arrow-rotate {
    transition: .3s;
}

.person .arrow-rotate:hover {
    transform: rotate(180deg);
}

.dashboard-child {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.profile {
    width: 70%;
}

.tasks {
    width: 30%;
}

.profile-box {
    display: flex;
    gap: 30px;
}

.profile-box-child {
    background-color: white;
    padding: 25px;
    width: 410px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
}

.percentage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.percentage h3 {
    font-size: 20px;
    margin-bottom: 4px;
}

.percentage span {
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.percentage span img {
    vertical-align: middle;
    margin-left: 5px;
}

.profile-person {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-person h3 {
    font-size: 24px;
    margin-top: -20px;
    padding-bottom: 5px;
}

.profile-person span {
    color: #33333360;
    font-size: 18px;
}

.social-icon img {
    padding: 13px;
    background-color: #f1eeee;
    margin: 10px;
    border-radius: 10px;
}

.work-box {
    display: flex;
    gap: 15px;
    height: 100%;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
}

.work-one {
    padding: 21px;
    background-color: #A0E79F;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.work-one img {
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 14px;
}

.work-one h4 {
    font-size: 19px;
}

.work-one h2 {
    margin-top: 40px;
    font-size: 30px;
}

.work-one span {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
}

.connection {
    background-color: white;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
}

.connection-title h3 {
    margin-bottom: 3px;
    font-size: 18px;
}

.connection-title span {
    font-size: 14px;
    color: #33333360;
}

.connection-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.connection-image img {
    padding: 10px;
    background-color: #F7F6FE;
    border-radius: 100%;
}

.dot {
    padding: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border-radius: 0 !important;
}

.tasks {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.persontask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E1E3E5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.other-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.other_person_detail {
    display: flex;
    gap: 10px;
}

.other_person_detail h3 {
    font-size: 16px;
}

.other_person_detail span {
    font-size: 14px;
    text-transform: lowercase;
}

.taskCount h6 {
    font-size: 13px;
    font-weight: bold;
}

.settingbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
}

.setting-box-child {
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
}

.setting-box-child img {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.setting-box-child h2 {
    margin-top: 10px;
}

.work-bg-add {
    background-color: #9AA0FE;
}

.graph {
    margin-top: 40px;
    padding-right: 50px;
}

#myChart {
    height: 500px !important;
}


.logo{
    display: none;
}

@media screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main {
        padding: 20px;
        margin-bottom: 100px;
    }

    .top-box {
        display: flex;
    }

    input {
        width: 284px;
        margin-bottom: 25px;
        display: none;
    }

    .dashboard-child {
        flex-direction: column;
    }

    .profile-box {
        flex-direction: column;
    }

    .profile {
        width: 100%;
    }

    .profile-box-child {
        width: 100%;
        padding: 15px;
        border-radius: 14px
    }

    .work-box {
        flex-direction: column;
    }

    .connection {
        width: 100%;
        flex-direction: column;
        gap: 18px;
    }

    #myChart {
        height: 300px !important;
        margin-top: 33px;
    }

    .graph {
        padding-right: 0;
        margin-top: 0;
    }


    .tasks {
        width: 100%;
    }

    .tasks {
        padding: 20px;
    }

    .other_person_detail h3 {
        font-size: 14px;
    }

    .other_person_detail span{
        font-size: 13px;
    }

    .taskCount h6{
        font-size: 12px;
    }

    .settingbox{
        display: flex;
        flex-direction: column;
    }

    .join-team{
        width: 100%;
    }

    .logo{
        display: block;
    }

    .arrow-rotate{
        display: none;
    }

    .person .person-detail h3{
        font-size: 15px;
    }
}